//
// Variables
// --------------------------------------------------


//== Colors
//

$primary-color:         #222 !default;
$brand-color:           #669933 !default;
$brand-hover-color:     #4f7627 !default;


//== Background Colors

$gray-bg:               #f5f6f7 !default;


//== Typography

$primary-font:          'Source Sans Pro', sans-serif;
$primary-font-size:     18px;

$bold-font:             700;